* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(./pictur/lo3.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.header {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  height: 85px;
  padding: 5px 7%;
  margin: 5px;
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 80px;
  width: auto;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  display: flex;
  list-style: none;
}

.nav-links ul li {
  margin: 0 25px;
  font-size: 20px;
  text-decoration: none;
}

.etiqueta-1 {
  color: rgb(254, 153, 32);
  text-decoration: none;
  position: relative;
}

.etiqueta-1::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: rgb(254, 153, 32);
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}

.etiqueta-1:hover::after {
  width: 100%;
  right: 0;
}

.etiqueta {
  color: rgba(246, 245, 174);
  text-decoration: none;
  position: relative;
}
.title {
  font-size: 50px;
  color: rgb(243, 243, 191);
}

.menu-hamburger {
  display: none;
  width: 35px;
  position: absolute;
  top: 50px;
  right: 50px;
}

.etiqueta::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: gray;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}

.etiqueta:hover::after {
  width: 100%;
  right: 0;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.h1 {
  color: rgba(250, 121, 33);
  font-family: "Montserrat", sans-serif;
}

.a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.685);
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
  cursor: pointer;
}

.a:hover {
  transform: scale(1.1);
}

.img-1 {
  width: 20%;
  height: 300px;
}

.img-2 {
  width: 20%;
  height: 300px;
}

.tienda {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  flex-wrap: wrap;
}
.tienda2 {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  flex-wrap: wrap;
}

.precio {
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  align-items: center;
  text-align: center;
  margin: 10px;
}

#button {
  color: rgba(254, 153, 32);
}

.compra {
  font-family: "Poppins", sans-serif;
  align-items: center;
  margin: 0px 130px;
}

.card {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 300px;
  cursor: pointer;
  box-shadow: 1px 10px 25px rgba(54, 172, 54, 0.1);
}

.caja1 {
  position: absolute;
  width: 300px;
  height: 300px;
  background: url(buzo2.jpg);
  background-size: 100% 100%;
}

.caja2 {
  width: 300px;
  height: 300px;
  background: url(buzo-1.jpg);
  background-size: 100% 100%;
  transition: 0.6s;
  clip-path: polygon(0 0, 100% 0, 49% 52%, 0% 100%);
}

.caja2:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.caja1:hover ~ .caja2 {
  clip-path: polygon(0 0, 100% 0, 0 0, 0 0);
}

.caja3 {
  position: absolute;
  width: 300px;
  height: 300px;
  background: url(buzo4.jpg);
  background-size: 100% 100%;
}

.caja4 {
  width: 300px;
  height: 300px;
  background: url(buzo3.jpg);
  background-size: 100% 100%;
  transition: 0.6s;
  clip-path: polygon(0 0, 100% 0, 49% 52%, 0% 100%);
}

.caja4:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.caja3:hover ~ .caja4 {
  clip-path: polygon(0 0, 100% 0, 0 0, 0 0);
}

.caja5 {
  position: absolute;
  width: 300px;
  height: 300px;
  background: url(buzo6.jpg);
  background-size: 100% 100%;
}

.caja6 {
  width: 300px;
  height: 300px;
  background: url(buzo5.jpg);
  background-size: 100% 100%;
  transition: 0.6s;
  clip-path: polygon(0 0, 100% 0, 49% 52%, 0% 100%);
}

.caja6:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.caja5:hover ~ .caja6 {
  clip-path: polygon(0 0, 100% 0, 0 0, 0 0);
}

.caja7 {
  position: absolute;
  width: 300px;
  height: 300px;
  background: url(buzo8.jpg);
  background-size: 100% 100%;
}

.caja8 {
  width: 300px;
  height: 300px;
  background: url(buzo7.jpg);
  background-size: 100% 100%;
  transition: 0.6s;
  clip-path: polygon(0 0, 100% 0, 49% 52%, 0% 100%);
}

.caja8:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.caja7:hover ~ .caja8 {
  clip-path: polygon(0 0, 100% 0, 0 0, 0 0);
}

.compra {
  background-color: rgba(214, 247, 163);
  border: rgb(94, 57, 53) solid;
}

@media screen and (max-width: 630px) {
  body {
    background: url(./pictur/logmobile.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  .logo {
    margin: 15px 15px;
  }
  .header {
    padding: 0;
  }
  .menu-hamburger {
    display: block;
  }

  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(61, 66, 42, 0.24);
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
  }

  .nav-links.activo {
    margin-left: 0;
  }

  .mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 456px) {
  .header {
    padding: 3px 5%;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    height: 80px;
    width: auto;
  }

  .title {
    display: flex;
    font-size: 35px;
  }

  .a {
    font-size: 20px;
    cursor: pointer;
  }
}
