* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(61, 57, 57);
}

.header {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 85px;
  padding: 5px 7%;
}

.logo {
  height: 80px;
  width: auto;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}

.title {
  font-size: 50px;
  color: rgb(243, 243, 191);
}

.button {
  background-color: transparent;
  border: none;
  color: rgb(243, 243, 191);
  cursor: pointer;
  width: 1%;
}

@media screen and (max-width: 456px) {
  .header {
    padding: 3px 5%;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    height: 80px;
    width: auto;
  }
  .title {
    display: none;
  }
}
