* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(./pictur/lo3.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.header {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  height: 85px;
  padding: 5px 7%;
}

.logo {
  height: 80px;
  width: auto;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}

.title {
  font-size: 50px;
  color: rgb(243, 243, 191);
}

.button {
  background-color: transparent;
  border: none;
  color: rgb(243, 243, 191);
  cursor: pointer;
  width: 1%;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  color: rgba(188, 199, 31, 0.685);
}

.a {
  text-decoration: none;
  color: white;
  font-size: 35px;
}

@media screen and (max-width: 456px) {
  body {
    background: url(./pictur/lo3.jpeg) no-repeat center center fixed;
    background-size: cover;
  }
  .header {
    padding: 3px 5%;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    height: 80px;
    width: auto;
  }
  .title {
    display: none;
  }

  .title {
    display: flex;
    font-size: 35px;
  }

  .a {
    font-size: 20px;
    cursor: pointer;
  }
}
